body, input.placeholder {
  text-align: center;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color : Black;
  font-size: 20px;
}
input {
  border-radius: 25px;
}
button {
  border-radius: 25px;
  border: none;
  color: Black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
footer, h1, h2 {
  font-size: 30px;
  color: #FFFF;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em green;
}
